APP_NAME="WIS-CMS (Staging)"
APP_ENV=staging
APP_KEY=
APP_DEBUG=true
APP_URL=https://church-cms-staging.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_URL=postgresql://user:password@ep-xxx.neon.tech/neondb?sslmode=require

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log

VITE_APP_NAME="${APP_NAME}"
